{{!
This page will be rendered when no matches are found in 'POST http://localhost:3000/searchpeople'.
You will render this page with the HTML paragraph defined in the lab assignment.
}}

<main>
    <h1>{{title}}</h1>
    <p class="not-found">We're sorry, but no results were found for {{searchPersonName}}.</p>
</main>